<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid ">
              <a class="navbar-brand" href="#">Codeial</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <% if(!locals.user){%>
                  <a class="nav-link mr-5" aria-current="page" href="/users/signin">Sign In</a>
                  <a class="nav-link" href="/users/signup">Sign Up</a>
                   <%}%>
                   <% if(locals.user){%>
                    <a class="nav-link" href="/users/signout">Sign Out</a>
                    <a class="nav-link" href="/users/profile">Profile</a>
                    <%}%>
                </div>
              </div>
            </div>
          </nav>
        <h1 style="text-align: center;">Home</h1>
        <section id="feed-posts">
            <h4>posts</h4>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3"></textarea>
                <input type="submit" value="POST">
            </form>
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts) { %>
                        <li>
                            <p>
                            <%=post.content %>
                            <br>
                            <small>
                                <%= post.user.name %>
                            </small>
                            </p>
                            <div class='post-comment'>
                            <form action="/comments/create"  method="POST">
                                <input type="text" name="content" placeholder="Type here to add Comment...">
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <input type="submit" value="add Comment">
                            </form>
                            <div class="post-comments-list">
                                <ul id="post-comments-<%=post._id %>">
                                    <% for (comment of post.comments){%>
                                        <p><%= comment.content%></p>
                                        <br>
                                        <small>
                                            <%= comment.user.name%>
                                        </small>
                                        <%}%>
                                </ul>
                            </div>
                            </div>
                        </li>
                     <%}%>   
                </ul>
            </div>
         </section>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    </body>
</html>