<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>
            <%= title %>
        </title>
        <style>
            *{
                box-sizing: border-box;
            }
            #post_area{
                margin-top: 40px;
                display: inline-block;
                width: 100%;
                margin-inline-start: auto;
            }
            #feed-posts{
                width:50%;
                margin: auto;
            }
            #postbtn{
                margin-top: 20px;
            }
            .textbox{
                width: 100%;
                height:auto;
            }
            li{
                list-style: none;
                text-align: start;
                padding-left: 0px;
                margin-bottom: 30px;
            }
            ul{
                padding-left: 0px;  
            }
            #posts-list-container{
                width:100%;
                background-color: aliceblue;
                padding: 0px;
                margin-right: 0px;
                text-align: start;
            }
            #postcont{
                font-size: 1.3rem;
                font-weight: bold;
            }
            #username{
                font-weight: normal;
                font-size:1 rem;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid ">
              <a class="navbar-brand" href="#">Codeial</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <% if(!locals.user){%>
                  <a class="nav-link mr-5" aria-current="page" href="/users/signin">Sign In</a>
                  <a class="nav-link" href="/users/signup">Sign Up</a>
                   <%}%>
                   <% if(locals.user){%>
                    <a class="nav-link" href="/users/signout">Sign Out</a>
                    <a class="nav-link" href="/users/profile">Profile</a>
                    <%}%>
                </div>
              </div>
            </div>
          </nav>
        <h1 style="text-align: center;margin-top: 40px;">CODEIAL | Home</h1>
        <section id="feed-posts">
            <form  action="/posts/create" method="POST" >
                <textarea name="content" placeholder="Post here" class="rounded-3 " rows="3" cols="40" id="post_area"></textarea><br>
                <button type="submit"  id="postbtn" value="POST" class="btn btn-primary">Post</button>
             </form>
            <div id="posts-list-container">
                <ul style="text-align: center;">
                    <% for(post of posts) { %>
                        <li class ="border-primary ">
                            <p id="postcont">
                            <%=post.content %>
                            <br>
                            <small id="username">
                                <%= post.user.name %>
                            </small>
                            </p>
                            <div class='post-comment'>
                            <!-- <form action="/comments/create"  method="POST">
                                <input type="text" name="content" placeholder="Type here to add Comment...">
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <input type="submit" value="add Comment">
                            </form> -->
                            <h1 style="font-size: 1.2rem;">Comments</h1>
                            <div class="post-comments-list" style="height: 130px;overflow: scroll;">
                                <ul id="post-comments-<%=post._id %>" >
                                    <% for (comment of post.comments){%>
                                        <p><%= comment.content%>
                                        <br>
                                        <small>
                                            <%= comment.user.name%>
                                        </small>
                                        </p>
                                        <%}%>
                                </ul>
                            </div>
                            <form class="my-auto mx-auto" action="/comments/create" method="POST">
                                <div class="mb-3">
                                  <input type="text" name="content" class="textbox" placeholder="Type Here to add comment ..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                  <input type="hidden" name="post" value="<%= post._id %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                  <div id="emailHelp" class="form-text"></div>
                                </div>
                                <button type="submit" value="signIn" class="btn btn-primary">Submit</button>
                            </form>
                            </div>
                        </li>
                     <%}%>   
                </ul>
            </div>
         </section>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    </body>
</html>